.create-tournament-form {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  max-width: 80%;
  width: 40%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 15px;

  .row {
    max-width: 100%;
    .col {
      margin: 4px auto;
      width: 80%;
      background: #cac5c5;
      padding: 18px;
      border-radius: 22px;
      border: none;
      font-size: 21px;
    }
  }

  .create-btn {
    padding: 10px;
    background-color: #007BFF;
    color: #ffff;
    border: none;
    border-radius: 14px;
    width: 50%;
    margin: 12px;
  }
}

.create-tournament-btn {
  background: #007BFF;
  width: 40%;
  color: #ffff;
  border: none;
  padding: 10px 25px;
  font-size: 20px;
  margin: 20px auto;
  border-radius: 17px;
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  .create-tournament-form {
    width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .col {
    padding: 5px;
  }
}

$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #167F92;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

@mixin responstable($breakpoint: $table-breakpoint,
  $background-color: $table-background-color,
  $text-color: $table-text-color,
  $outer-border: $table-outer-border,
  $cell-border: $table-cell-border,
  $border-radius: none,
  $highlight-color: none,
  $header-background-color: $table-background-color,
  $header-text-color: $table-text-color,
  $header-border: $table-cell-border) {

  .responstable {
    width: 100%;
    margin: auto;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;

      &:nth-child(odd) {
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;

      &:first-child {
        // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }

      &:nth-child(2) {
        // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;

        span {
          display: none;
        }

        &:after {
          content: attr(data-th);
        }
      }

      @media (min-width: $breakpoint) {
        &:nth-child(2) {

          // hide the data-th and show the normal header for tablet and desktop
          span {
            display: block;
          }

          &:after {
            display: none;
          }
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;

      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }

      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th,
    td {
      text-align: left;
      margin: .5em 1em;

      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable($border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);