.create-tournament-form {
  display: flex;
  flex-direction: column;
  background: whitesmoke;
  max-width: 80%;
  width: 40%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 15px;

  .row {
    max-width: 100%;
    .col {
      margin: 4px auto;
      width: 80%;
      background: #cac5c5;
      padding: 18px;
      border-radius: 22px;
      border: none;
      font-size: 21px;
    }
  }

  .create-btn {
    padding: 10px;
    background-color: #007BFF;
    color: #ffff;
    border: none;
    border-radius: 14px;
    width: 50%;
    margin: 12px;
  }
}

.create-tournament-btn {
  background: #007BFF;
  width: 40%;
  color: #ffff;
  border: none;
  padding: 10px 25px;
  font-size: 20px;
  margin: 20px auto;
  border-radius: 17px;
  cursor: pointer;
}

table {
  width: 100%;
	margin: auto;

  thead {
    background-color: #1A1C28 !important;
    color: #fff;
		font-size: 26px;
		width: 100%;

		td {
			margin: 5px 15px;
		}
  }

  tbody {
    background-color: #1A1C28 !important;
    color: #fff;
		font-size: 26px;
		width: 100%;
    
    tr {
      img {
        max-width: 70px;
        max-height: 60px;
      }
    }
	}
}

@media only screen and (max-width: 780px) {
  .create-tournament-form {
    width: 100%;
  }
}

@media only screen and (max-width: 560px) {
  .col {
    padding: 5px;
  }
}


.date {
    margin: auto;
    width: 78%;

    input {
      padding: 10px;
      border-radius: 21px;
    }
}

.start {
  z-index: 1 !important;
}
