
.edit-container {
  max-width: 80%;
  margin: 15px auto;

  .captain {
    padding: 14px 5px;
    margin: 5px auto;
    border: none;
    font-size: 18px;
    display: flex;
    width: 90%;
    text-align: center;

    option {
      border: none;
      font-size: 18px;
      text-align: center;
    }
  }
}