.home-section::before {
  content: '';
  background:
    url('https://cdn.wallpapersafari.com/92/8/79gzqd.jpg') no-repeat center center/cover;
  position: absolute;
  opacity: 0.9;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.home-section {
  max-width: 90%;
  width: 80%;
  max-height: 300px;
  height: 100%;
  margin: auto;

  .center-box {
    width: 90%;
    margin: 50px auto;
    padding: 10px;

    .main-head {
      color: rgb(255, 255, 255);
      font-size: 38px;
      text-align: center;
    }
  }
}

.learn-more {
  background-color: #ffff;
  color: black;
  width: 40%;
  padding: 15px;
  margin: auto;
  border-radius: 80px;
}

@media only screen and (max-width: 790px) {
  .center-box {
    width: 100% !important;
    background: none !important;
  }
}