.home-section::before {
  content: '';
  background:
    url('https://ak.picdn.net/shutterstock/videos/1058733187/thumb/5.jpg') no-repeat center center/cover;
  position: absolute;
  opacity: 0.9;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.home-section {
  max-width: 90%;
  width: 40%;
  max-height: 300px;
  height: 100%;
  margin: auto;

  .center-box {
    width: 70%;
    margin: 50px auto;
    background: rgb(215, 212, 212);
    padding: 10px;

    .main-head {
      color: rgba(188, 115, 5, 0.857);
      font-size: 38px;
      text-align: center;
      font-family: Tahoma, "Trebuchet MS", sans-serif;
    }
  }
}

@media only screen and (max-width: 790px) {
  .center-box {
    width: 100% !important;
    background: none !important;
  }
}