
.navbar {
  background-color: #292C31;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .title {
    font-size: 26px;

    .foot {
      color: #ffff;
    }

    .ball {
      color: orange;
    }
  }

  .nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-item {
      list-style-type: none;
      margin: 0 5px;
      padding: 15px;
    }
  }
}

a {
  color: #ffff;
  font-size: 20px;
  text-decoration: none;
}