.navbar {
  background-color: #292C31;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;

  .title {
    font-size: 26px;
    margin: 0px 30px;

    img {
      width: 50px;
      height: 45px;
      margin-top: 8px;
    }
  }

  .nav-items {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-item {
      list-style-type: none;
      margin: 0 5px;
      padding: 15px;

      .logout-btn {
        background: no-repeat;
        color: white;
        border: none;
        font-size: 18px;
        margin-top: 4px;
        cursor: pointer;
      }
    }
  }
}

a {
  color: #ffff;
  font-size: 20px;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .title {
    font-size: 16px;
    margin: auto;
  }

  .nav-items {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    flex-direction: column;
  }
}

@media only screen and (max-width: 560px) {
  .navbar {
    padding: 20px !important;
    flex-direction: column;
  }
}